html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  background: hsla(355, 38%, 87%, 1);

  background: radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBD2D4", endColorstr="#EBCFD0", GradientType=1 );
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}

h1 {
  color: rgb(255, 245, 103);
  text-transform: capitalize;
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  display: block;
}

h2,
h3 {
  color: #231d3c;
}
li {
  list-style: none;
  color: rgb(255, 245, 103);
  display: block;
  font-size: 29px;
  font-weight: 100px;
  line-height: 29px;
}
ul {
  margin: 0;
  padding: 0;
}
row {
  margin: 50px;
}
.container {
  max-width: 760px;
  margin: 60px auto;
}
.wholeApp {
  padding: 20px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(133, 149, 225)
    radial-gradient(
      circle,
      rgba(133, 149, 225, 0.8911939775910365) 72%,
      rgba(133, 174, 211, 1) 98%
    );

  box-shadow: 1px 1px 25px 20px rgba(149, 189, 255, 0.5);

  border: 5px solid rgb(255, 229, 159);
  border-radius: 10px;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}
.dateTime {
  font-size: 30px;
  text-align: right;
  margin-right: -49px;
  margin-top: 18px;
}
.form-control {
  display: inline;
}
#cityName {
  text-align: left;
  margin-top: 1px;
  margin-left: 5px;
  font-size: 100px;
  line-height: 83px;
}
#temperature {
  font-size: 100px;
  line-height: 162px;
}
#tempUnit {
  font-size: 32px;
  margin-top: 30px;
}
#image {
  width: 200px;
  height: auto;
}
#topRow {
  margin-bottom: 15px;
}
#temperature-description {
  text-align: left;
}

#search-form {
  margin-bottom: 10px;
  margin-left: 4px;
}
#button {
  width: 147px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#search-box {
  width: 279px;
}
#sign {
  text-align: center;

  margin-bottom: 0;
  margin-top: 17px;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}
