html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  background: hsla(355, 38%, 87%, 1);

  background: radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}

h1 {
  text-transform: capitalize;
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  display: block;
}

h2,
h3 {
  color: #231d3c;
}
li {
  list-style: none;
  color: #231d3c;
  display: block;
  font-size: 25px;
  font-weight: 100px;
  line-height: 59px;
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

row {
  max-width: 53%;
}

.totalApp {
  max-width: 760px;
  margin: 60px auto;
}
.container {
  max-width: 760px;
  margin: 60px auto;
}
.wholeApp {
  padding: 20px 20px 3px 20px;
  margin-top: -61px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(133, 149, 225);
  background: linear-gradient(
    180deg,
    rgba(133, 149, 225, 1) 36%,
    rgba(133, 174, 211, 1) 85%
  );
  box-shadow: 0px 20px 25px 20px rgb(149 189 255 / 25%);

  border: 3px solid rgb(214 223 251);
  border-radius: 50px 50px 50px 50px;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 5px 12px 5px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline;
}

.openLink {
  text-decoration: none;
  color: white;
}
.openLink:hover {
  text-decoration: underline;
  color: #fe6e04;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
a:hover {
  color: #ced4da;
  text-decoration: underline;
}
.won-der .active {
  text-decoration: none;
  color: #231d3c;
  cursor: default;
}

.forecastDays {
  margin-top: 1px;
  text-align: center;
  margin-bottom: 18px;
  margin-right: auto;
}
.each {
  background-color: rgb(145 184 237 / 72%);
  margin: auto;
  border-radius: 20px;
}
.forecast-date {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #231d3c;
}
.forecast-temp {
  font-size: 17px;
  top: -13;
  color: #231d3c;
}

.forecast-min {
  opacity: 0.6;
}
/*
#farenheit {
  color: #fff567;
}
#celsius {
  color: #fff567;
}
*/

#dateTime {
  color: #231d3c;
  font-size: 26px;
  text-align: center;
  margin-right: -182px;
  margin-top: 0px;
  font-weight: 800;
  border-radius: 42px;
}

#button {
  transition: all 0.5s ease;
  border-radius: 15px 15px 31px 0px;
  border: 4px solid rgba(149, 189, 255, 0.5);
  width: 110px;
  margin-left: 11px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background-color: #95c5f1ba;
  margin-left: 0px;
  border-radius: -16px;
  padding: 5px 30px 5px 0px;
  outline: none;
}
#button:hover {
  color: #ffffff;
  border: 4px solid rgba(255, 235, 225, 0.5);
  background-color: #fd9712;
}
#cityName {
  background: -webkit-linear-gradient(
    60deg,
    rgba(251, 201, 32, 1) 0%,
    rgba(255, 98, 1, 1) 72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 1px;
  margin-left: 0px;
  font-size: 80px;
  line-height: 100px;
  position: fixed auto;
  z-index: 2;
}
#temperature {
  font-size: 129px;
  line-height: 130px;
  margin-bottom: 0px;
  margin-left: 33px;
}
#tempUnit {
  margin-top: 20px;
  margin-left: -24px;
  margin-right: 2px;
  font-size: 20px;
}
#feelsTemp {
  color: #231d3c;
  font-size: 26px;
  margin-left: 168px;
  text-align: center;
  margin-top: 0px;
  font-weight: 800;
  padding: 2px;
  border-radius: 42px;
}

#image {
  color: #ff6201;
  width: 279px;
  height: auto;
  margin-top: -99px;
  margin-bottom: -69px;
  margin-left: -25px;
  font-size: 153px;
}
#topRow {
  border: 1px solid rgb(149 189 255 / 0%);
  background-color: rgb(145 184 237 / 72%);
  margin-bottom: 17px;
  margin-right: 41px;
  margin-left: 41px;
  border-radius: 41px;
}
#middleRow {
  padding-top: 10px;
  padding-bottom: 10px;
}
#temperature-description {
  color: rgb(252 153 19);
  text-align: center;
  margin-top: -114px;
  margin-left: 428px;
  width: 39%;
  font-size: 32px;
  text-align: right;
}

#wind {
  margin-top: -27px;
}
/*#weatherAcc {
  margin-left: 10px;
} */
#lastRow {
  margin-bottom: 10px;
  text-align: center;
}
#search-form {
  margin: auto;
  max-width: 83%;
}
#search-box {
  width: 335px;
}
#finalRow {
  max-width: 760px;
  padding: 20px 20px 3px 20px;
  margin-top: -54px;
  margin-left: 28px;
  margin-right: 28px;
  background: rgb(133, 149, 225);
  background: linear-gradient(
    180deg,
    rgba(133, 174, 211, 1) 8%,
    rgba(133, 149, 225, 1) 58%
  );
  box-shadow: 0px 20px 25px 20px rgb(149 189 255 / 25%);

  border: 3px solid rgb(214 223 251);
  border-radius: 50px 50px 50px 50px;
}
#sign {
  text-align: center;
  background-color: #c2caec;
  border: 2px solid white;
  border-radius: 19px;
  margin: 6px 233px 0px 233px;
  display: block;
}
