html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  background: hsla(355, 38%, 87%, 1);

  background: radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(355, 38%, 87%, 1) 0%,
    hsla(358, 41%, 87%, 1) 7%,
    hsla(285, 35%, 93%, 1) 68%,
    hsla(264, 56%, 98%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBD2D4", endColorstr="#EBCFD0", GradientType=1 );
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}

a {
  color: #ff6201;
}

h1 {
  text-transform: capitalize;
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  display: block;
}

h2,
h3 {
  color: #231d3c;
}
li {
  list-style: none;
  color: rgb(255, 245, 103);
  display: block;
  font-size: 25px;
  font-weight: 100px;
  line-height: 59px;
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
row {
  max-width: 53%;
}
a:visited {
  color: #ff6201;
}
.totalApp {
  max-width: 760px;
  margin: 60px auto;
}
.container {
  max-width: 760px;
  margin: 60px auto;
}
.wholeApp {
  padding: 20px 20px 3px 20px;
  margin-top: -61px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(133, 149, 225)
    radial-gradient(
      circle,
      rgba(133, 149, 225, 0.8911939775910365) 72%,
      rgba(133, 174, 211, 1) 98%
    );
  box-shadow: 1px 1px 25px 20px rgba(149, 189, 255, 0.5);

  border: 3px solid rgb(214 223 251);
  border-radius: 50px 50px 50px 50px;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 5px 12px 5px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
#farenheit {
  color: #fff567;
}
#celsius {
  color: #fff567;
}

#dateTime {
  color: rgb(255, 245, 103);
  font-size: 26px;
  text-align: center;
  margin-right: -182px;
  margin-top: 0px;
  font-weight: 800;
  border-radius: 42px;
}
#button {
  border-radius: 15px 15px 31px 0px;
  width: 110px;
  margin-left: 11px;
  cursor: pointer;
  text-align: center;
  background: rgb(255 154 92);
  margin-left: 0px;
  border-radius: -16px;
  padding: 5px 30px 5px 0px;
  border: 1px solid rgba(149, 189, 255, 0.5);
}

#cityName {
  color: #ff6201;
  text-align: center;
  margin-top: 1px;
  margin-left: 0px;
  font-size: 80px;
  line-height: 69px;
}
#temperature {
  font-size: 129px;
  line-height: 129px;
  margin-bottom: 26px;
  margin-left: 10px;
}
#tempUnit {
  margin-top: 5px;
  margin-left: -24px;
  margin-right: 36px;
  font-size: 24px;
}
#feelsTemp {
  color: rgb(255, 245, 103);
  font-size: 26px;
  margin-left: 168px;
  text-align: center;
  margin-top: 0px;
  font-weight: 800;
  padding: 2px;
  border-radius: 42px;
}

#image {
  width: 200px;
  height: auto;
  margin-top: -13px;
  margin-left: 6px;
  font-size: 153px;
}
#topRow {
  border: 1px solid rgba(149, 189, 255, 0.5);
  background-color: rgba(149, 189, 255, 0.5);
  margin-bottom: 17px;
  border-radius: 41px;
}
#middleRow {
  padding-top: 10px;
  padding-bottom: 10px;
}
#temperature-description {
  color: rgb(255 154 92);
  text-align: center;
  margin-top: 20px;
  margin-left: -52px;
  font-size: 47px;
}
#forecast {
  margin-left: auto;
  border-radius: 15px 15px 0px 31px;
  padding: 3px 30px 3px 30px;
  border: 1px solid rgba(149, 189, 255, 0.5);
}
#wind {
  margin-top: -27px;
}
/*#weatherAcc {
  margin-left: 10px;
} */
#lastRow {
  margin-bottom: 10px;
  text-align: center;
}
#search-form {
  margin-left: -58px;
  max-width: 83%;
}
#search-box {
  width: 335px;
}
#openLink {
  color: #ff6201;
}
a:hover {
  color: blue;
}
#sign {
  text-align: center;

  margin-bottom: 0;
  margin-top: 17px;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}
